name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Execute test 
<<<<<<< HEAD
        run: allure run -- npm test
=======
        run: npm test
>>>>>>> 022379de7720dc59af671e4d995d9ff0883193da
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: lint code
<<<<<<< HEAD
        run: npm run lint
=======
        run: npm run lint
>>>>>>> 022379de7720dc59af671e4d995d9ff0883193da
